@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i|Montserrat&display=swap');


body{
    text-align: center;
    /* background-image: url(elements/Page-Background-SEIR\ PJ1v2.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#daac9a ;
    border: solid black;
    padding: 200px;
    color: #103437;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
    font-family: "DM Serif Display", serif;
    margin: 50px 0;
}

h1 {
    font-size: 70px;
}

header p {
    font-size: 18px;
}

.nextButton {
    display: none;
}

.js-question {
    display: none;
}

.hidden {
    display: none;
}

.submit{
    background-color: white;
    border:.25px solid grey;
    margin: 40px auto;
    font-size: 15px;
    text-transform: uppercase;
    width: 400px;
    display: none;
    
}

.submit:hover{
    background-color: pink;
    border: none;
    margin: 40px auto;
    font-size: 15px;
    text-transform: uppercase;
    width: 400px;
    color: white;
}

button{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 40px;
    
}

