body{
    text-align: center;
}

.hidden {
    display: none;
}

.submit{
    background-color: white;
    border:.25px solid grey;
    margin: 40px auto;
    font-size: 15px;
    text-transform: uppercase;
    width: 400px;
    
}

.submit:hover{
    background-color: pink;
    border: none;
    margin: 40px auto;
    font-size: 15px;
    text-transform: uppercase;
    width: 400px;
    color: white;
}

button{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 40px;
    
}

/* question tansition section */

/* .content-container {
  border: solid black;
  overflow: hidden;
  position: relative;
  width: 1000px;
   height: 600px; 
  margin: 0 auto;
}

.questions {
  border: solid red;
  display: flex;
  flex-direction: column;
  margin: 150px 0;
  transition: all 500ms ease;
  height: 175px;
  overflow: hidden;
  display: none; 
}

.js-question {
  border: solid yellow;
  min-width: 1000px;
  background-position: center center;
  background-size: cover;
  margin: 40px 0;
}  */